{
  "extends": "eslint-config-airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": 0,
    "max-len": [1,120],
    "no-undef": 2,
    "no-use-before-define": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-trailing-spaces": [2, { "skipBlankLines": true }]
  }
}
